<a class="logo" href="/"><img src="../Content/Images/Ohni_Logo_Small.fw.png"></a>
<a class="menu-trigger" role="button" data-toggle="collapse" href="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu"><i class="fa fa-3x fa-bars"></i></a>

@Html.Partial("~/Views/Shared/Sections/_NavigationMenu.cshtml")

<a class="social-trigger" role="button" data-toggle="collapse" href="#collapseSocial" aria-expanded="false" aria-controls="collapseSocial"><img src="../Content/Images/link.png"></a>

<div class="collapse" id="collapseSocial">
    <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
        <li><a data-toggle="collapse" href="#collapseSocial" aria-expanded="false" aria-controls="collapseSocial"><i class="fa fa-2x fa-close"></i></a></li>
    </ul>
</div>