<a class="logo" href="/"><img src="../Content/Images/Ohni_Logo_Small2.fw.png"></a>
<a class="menu-trigger" role="button" data-toggle="collapse" href="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu"><i class="fa fa-3x fa-bars"></i></a>

@Html.Partial("~/Views/Shared/Sections/_NavigationMenu.cshtml")

<a class="social-trigger" role="button" data-toggle="collapse" href="#collapseSocial" aria-expanded="false" aria-controls="collapseSocial"><img src="../Content/Images/link.png"></a>

<div class="collapse" id="collapseSocial">
    <ul>
        <li><a href="https://www.facebook.com/Ohni-1529609633751868/?"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/ohni_io"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://ohniforum.000webhostapp.com/"><i class="fa fa-comments"></i></a></li>
        <li><a href="http://steamcommunity.com/groups/ohnibank/"><i class="fa fa-steam"></i></a></li>
        <li><a href="https://ohni.slack.com/"><i class="fa fa-slack"></i></a></li>
        <li><a data-toggle="collapse" href="#collapseSocial" aria-expanded="false" aria-controls="collapseSocial"><i class="fa fa-2x fa-close"></i></a></li>
    </ul>
</div>