@{
    ViewBag.Title = "Blank Page | BuildR Template";
}

@section PageStyle {
    @*You can add your custom style sheets for each page in this section.*@
}

@section PageJavaScript{
    @*You can add your custom JavaScript for each page in this section. This section will be added to the bottom of the page.*@
}

@section HeaderBody {
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <h1 class="animated slideInDown">BLANK PAGE</h1>
                <h2 class="animated slideInUp">Compose and build<br>Make your own Buildr</h2>
            </div>
        </div>
    </div>
}

<div class="container text-center page-wrap titleAnimation">
    <h1>AMAZING HEADER</h1>
    <p>Your amazing content goes here!</p>
</div>