@{
    ViewBag.Title = "Services | BuildR Template";
}

@section PageJavaScript{
    <script type="text/javascript">
        $('.slick-slider').slick({
            nextArrow: '<button class="slick-next"><i class="fa fa-angle-right"></i></button>',
            prevArrow: '<button class="slick-prev"><i class="fa fa-angle-left"></i></button>',
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            responsive: [
                        {
                            breakpoint: 768,
                            settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            infinite: true
                            }
                        }
                    ]
        });
    </script>
}

@section HeaderBody {
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <h1 class="animated slideInDown">SERVICES</h1>
                <h2 class="animated slideInUp">Explore our offers</h2>
            </div>
        </div>
    </div>
}

<section class="services-page services-top">
    <div class="row fadeLeftRight">
        <div class="col-md-4 fadeLeftEffect">
            <div class="provider-quality">
                <div>
                    <div class="row">
                        <div class="col-xs-2 text-right"><i class="fa fa-3x fa-tag"></i></div>
                        <div class="col-xs-10">
                            <h2>Provider Quality</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiumdod tempor incididunt ut labore et dolore magna
                                aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo sequat. Duis aute
                                irure dolor in reprehenderit in voluptate velit e.
                            </p>
                            <a href="#"><i class="fa fa-long-arrow-right"></i> MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 fadeUpEffect"><img src="../Content/Images/times-square.jpg"></div>

        <div class="col-md-4 fadeRightEffect">
            <div class="product-quality">
                <div>
                    <div class="row">
                        <div class="col-xs-2 text-right"><i class="fa fa-3x fa-coffee"></i></div>
                        <div class="col-xs-10">
                            <h2>Product Quality</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo sequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit e.
                            </p>
                            <a href="#"><i class="fa fa-long-arrow-right"></i> MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<section class="services-page services-middle">
    <div class="container fadeUpEffect1 wait1">
        <div class="row">
            <div class="col-md-4">
                <div class="we-produce">
                    <h2>WE PRODUCE</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipi
                        sicing elit, sed do eiusmod tempor incididunt u
                        t labore et dolore magna aliqua. Ut enim ad mi
                        nim veniam, quis nostrud exercitation ullamc
                        o laboris nisi ut aliquip ex ea commodo conseq
                        uat. Duis aute irure dolor in reprehenderit in v
                        oluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. <span class="visible-md visible-lg">
                            Excepteur sint occaecat cupidatat no
                            n proident, sunt in culpa qui officia deserunt m
                            ollit anim id est laborum. Sed ut perspiciatis un
                            de omnis iste natus error sit voluptatem accus
                            antium doloremque laudantium, totam rem ap
                            eriam, eaque ipsa quae ab illo inventore veritati
                            s et quasi architecto beatae vitae dicta sunt ex
                            plicabo. Nemo enim ipsam voluptatem quia volu
                            ptas sit aspernatur aut odit aut fugit, sed quia co
                            nsequuntur magni dolores eos qui ratione volup
                            tatem sequi nesciunt. Neque porro quisquam est,
                            qui dolorem ipsum quia dolor sit amet, consectet
                            ur, adipisci velit, sed quia non numquam eius mod
                            i tempora incidunt ut labore et dolore magnam ali
                            quam quaerat voluptatem.
                        </span>
                    </p>
                    <a href="#"><i class="fa fa-long-arrow-right"></i> MORE</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="services-slider">
                    <div class="slick-slider">
                        <img src="../Content/Images/portfolio-item_01.jpg">
                        <img src="../Content/Images/portfolio-item_02.jpg">
                        <img src="../Content/Images/portfolio-item_03.jpg">
                        <img src="../Content/Images/portfolio-item_04.jpg">
                        <img src="../Content/Images/portfolio-item_05.jpg">
                        <img src="../Content/Images/portfolio-item_06.jpg">
                        <img src="../Content/Images/portfolio-item_07.jpg">
                        <img src="../Content/Images/portfolio-item_08.jpg">
                        <img src="../Content/Images/portfolio-item_09.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-page services-bottom">
    <div class="row fadeLeftRight1">
        <div class="col-md-4 fadeLeftEffect1">
            <div class="client-services">
                <div>
                    <div class="row">
                        <div class="col-xs-2 text-right"><i class="fa fa-3x fa-user"></i></div>
                        <div class="col-xs-10">
                            <h2>Client Services</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo sequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit e.
                            </p>
                            <a href="#"><i class="fa fa-long-arrow-right"></i> MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 fadeUpEffect2"><img src="../Content/Images/empire-building.jpg"></div>

        <div class="col-md-4 fadeRightEffect1">
            <div class="support247">
                <div>
                    <div class="row">
                        <div class="col-xs-2 text-right"><i class="fa fa-3x fa-clock-o"></i></div>
                        <div class="col-xs-10">
                            <h2>24/7 Support</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo sequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit e.
                            </p>
                            <a href="#"><i class="fa fa-long-arrow-right"></i> MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>